<div class="container">
  <p>We are initiate the club the all NGO in one platform. So Being Samaritan: is a welfare website which provide platform to citizens of city to share problems of their locality and we provide them solutions or suggestions to get it solved.
  </p>
</div>