<header class="intro-header" style="background-image: url('/assets/problempost/home.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Clean Blog</h1>
          <hr class="small">
          <span class="subheading">A Clean Blog Theme by Start Bootstrap</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <!-- Page Header -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Saw a Problem??
        <small>Tell us and help</small>
      </h1>
    </div>
  </div>
  <!-- /.row -->

  <!-- Projects Row -->

  <tr>
    <div class="row">
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="/assets/problemcategory/age.jpg">
        </a>
        <h3>
          <a href="#">Age Care</a>
        </h3>
              
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="/assets/problemcategory/animal.jpg">
        </a>
        <h3>
          <a href="#">Animal Welfare</a>
        </h3>           
      </div>
      <div class="col-md-4 portfolio-item">
        <a href="#">
          <img class="img-responsive" src="/assets/problemcategory/clean.jpg">
        </a>
        <h3>
          <a href="#">Cleanliness</a>
        </h3>           
      </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="/assets/problemcategory/edu.jpg">
      </a>
      <h3>
        <a href="#">Child Education</a>
      </h3>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="/assets/problemcategory/healt.jpg">
      </a>
      <h3>
        <a href="#">Health and hygiene</a>
      </h3>
    </div>
    <div class="col-md-4 portfolio-item">
      <a href="#">
        <img class="img-responsive" src="/assets/problemcategory/labour.jpg">
      </a>
      <h3>
        <a href="#">Child Labour</a>
      </h3>
    </div>
  </div>

    <!-- Projects Row -->
    <div class="row">
         <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="/assets/problemcategory/waste.jpg"
            </a>
            <h3>
                <a href="#">Waste Management</a>
            </h3>
           
        </div>
        <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="/assets/problemcategory/water.jpg"
            </a>
            <h3>
                <a href="#">Water Management</a>
            </h3>
           
        </div>
         <div class="col-md-4 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="/assets/problemcategory/women.jpg"
            </a>
            <h3>
                <a href="#">Women Empowerment</a>
            </h3>
           
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    </div>
    <!-- /.container -->
